{% extends 'base.html' %}
{% block content1 %}
<h2> {{user.email}} Manage Your Todo List</h2>

{% endblock %}


{% block content2 %}
<div>
  <li class="nav-item">
    <h4> <a class="nav-link" href="/add-todo">AddTodo</a></h4>
  </li>
</div>         <!-- dynamic content---->
{% endblock content2 %}
{% block content %}

{% comment %} <div>
  <div class="container pt-4">
    <div class="row  p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow p-0">
        <div class="alert alert-info">
          <h2>Add New TODO</h2>
        </div>
        <div class="p-4">
          <form action="/add-todo/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <p>{{error}}<p>
            {% endif %}
            {% for fm in form %}
            {{fm.label_tag}}  {{fm}}   {{fm.errors|striptags}} <br> <br>
            {% endfor %}
            <hr>
            <input type="submit" value="ADD" class="btn btn-info">
            
            <!--a href="/chat/{{user.username}} Chatroom" title="Chating" class="">💌</a-->
          </form>
        </div>
      </div> {% endcomment %}



      <div class="col">
        <div class="border">
          <div>
            <th><button type="button" class="btn btn-danger mt-3">
              <h4 class="mt-8">Login Times:<span class="badge badge-light"> {{ct}}</span> </h4>
            </button>
            </th>
              <th><button type="button" class="btn btn-dark mt-3">
                <h4 class="mt-8">Your IP : {{ip}} </h4>
              </button>
              </th>
            
          </div>

          {% if todos|length == 0 %}

          <div class="p-4">
            <br>
            <br>
            <div class="alert alert-info text-center">
              <p>No Todos</p>
            </div>
            <br>
            <br>
          </div>

          {%else%}
          <div>
           
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Tasks</th><
                  <th>Image</th>
                  <th>Status</th>
                  <th>Priority</th>
                  <th>Delete</th>
                  <th>Update</th>
                  <th>Extracted_text</th>
                 

                </tr>
              
              </thead>

              <tbody>

                {% for todo in todos %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{todo.tasks}}</td>
                  <td>
                    {% if todo.image %}
                      <img src="{{todo.image.url}}"  width="60"  alt="" class="img-thumbnail" >
                    {% endif %}
                  </td>

                  <td>
                    {% if todo.status == 'C'%}
                    ✅
                    {%else%}
                    🕒
                    {%endif%}
                  </td>
                  <td>{{todo.priority}}</td>
                  <td>
                    <a href="/delete-todo/{{todo.id}}" title="Delete" class="">🗑️</a>
                    {% if todo.status == 'P'%}
                    <a href="/change-status/{{todo.id}}/C" title="Mark Completed" class="">✅</a>
                    {%else%}
                    <a href="/change-status/{{todo.id}}/P" title="Mark Pending" class="">🕒</a>
                    {%endif%}
                  </td>
                <td><a href ="/update-todo/{{todo.id}}/" title="Update" class="">🔄</a></td>
                <td>{{todo.text}}</td>
                </tr>
                {%endfor%}


              </tbody>
            </table>
          </div>
          {%endif%}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
